{:paths ["scripts/"]
 :tasks {zip {:doc "Zip up all of the input files."
              :task (shell "./scripts/zip")}
         unzip {:doc "Unzip the input files."
                :task (shell "./scripts/unzip")}
         fetch {:doc "Fetch an input file"
                :task (exec 'fetch/fetch)}
         leaderboard {:doc "Show the latest leaderboard data."
                      :task  (exec 'fetch/show-leaderboard)}
         update {:doc "Update the leaderboards"
                 :task (do
                         (exec 'fetch/update-leaderboards)
                         (exec 'fetch/show-leaderboard))}
         badges {:doc "Regenerate badges."
                 :task (exec 'badges/update-badges)}
         lint {:doc "Run clj-kondo over all clojure code."
               :task (shell "clj-kondo --parallel --lint .")}}}
