{:items [[74 73 57 77 74]
         [99 77 79]
         [64 67 50 96 89 82 82]
         [88]
         [80 66 98 83 70 63 57 66]
         [81 93 90 61 62 64]
         [69 97 88 93]
         [59 80]]
 :counts [0 0 0 0 0 0 0 0]
 :monkey-specs [{:id 0
                 :operation (mul 11)
                 :test (divisible? 19)
                 :true-monkey 6
                 :false-monkey 7}
                {:id 1
                 :operation (add 8)
                 :test (divisible? 2)
                 :true-monkey 6
                 :false-monkey 0}
                {:id 2
                 :operation (add 1)
                 :test (divisible? 3)
                 :true-monkey 5
                 :false-monkey 3}
                {:id 3
                 :operation (mul 7)
                 :test (divisible? 17)
                 :true-monkey 5
                 :false-monkey 4}
                {:id 4
                 :operation (add 4)
                 :test (divisible? 13)
                 :true-monkey 0
                 :false-monkey 1}
                {:id 5
                 :operation (add 7)
                 :test (divisible? 7)
                 :true-monkey 1
                 :false-monkey 4}
                {:id 6
                 :operation square
                 :test (divisible? 5)
                 :true-monkey 7
                 :false-monkey 2}
                {:id 7
                 :operation (add 6)
                 :test (divisible? 11)
                 :true-monkey 2
                 :false-monkey 3}]}
