{:paths ["."]
 :deps {io.github.nextjournal/clerk {:mvn/version "0.12.707"}
        org.clojure/math.combinatorics {:mvn/version "0.1.6"}
        org.clojure/data.priority-map {:mvn/version "1.1.0"}
        criterium/criterium {:mvn/version "0.4.6"}}
 :aliases
 {:nrepl ;; added by neil
  {:extra-deps {nrepl/nrepl {:mvn/version "1.1.0-alpha1"}}
   :main-opts ["-m" "nrepl.cmdline" "--interactive" "--color"]}}}
