{:paths ["."]
 :deps {io.github.nextjournal/clerk {:mvn/version "0.15.957"}
        org.clojure/math.combinatorics {:mvn/version "0.2.0"}
        org.clojure/data.priority-map {:mvn/version "1.1.0"}
        criterium/criterium {:mvn/version "0.4.6"}
        complex/complex {:mvn/version "0.1.12"}
        org.clojure/data.int-map {:mvn/version "1.2.1"}}
 :aliases
 {:nrepl ;; added by neil
  {:extra-deps {nrepl/nrepl {:mvn/version "1.1.0"}}
   :main-opts ["-m" "nrepl.cmdline" "--interactive" "--color"]}
  :neil {:deps {io.github.babashka/neil {:git/tag "v0.1.41"
                                         :git/sha "77288d4"}}
         :main-opts ["-m" "babashka.neil"]}}}
